{{>header}}

<div id="createRecepie">

    <form action="#" id="createRecForm">
        <label for="newRecTitle">Recepie title:</label>
        <input type="text" name="newRecTitle" id="newRecTitle" class="newRecInput">

        <label for="linkToSimilarRec">Link to similar recepie:</label>
        <input type="text" name="" id="linkToSimilarRec" class="newRecInput">

        <label for="newRecIngredients">Ingredients:</label>
        <textarea name="newRecIngredients" id="newRecIngredients" cols="30" rows="10" class="newRecInput"
            placeholder="Type the Ingredients here, separated by comma, otherwise you'll make me have to do more work...."></textarea>

        <label for="newRecImgUrl">Recepie picture url:</label>
        <input type="text" id="newRecImgUrl" class="newRecInput">

        <button type="submit" id="addRecepieBtn">Add recepie</button>
    </form>


</div>

{{>footer}}