{{>header}}

<div id="errorPage">

    <img id="sadFaceImg" src="./assets/images/sadFace.png" alt="sadFace">
    <h1 id="errorH1">Error 404</h1>
    <h2 id="errorH2">Page not found</h2>
    <h3 id="errorH3">Redirecting to home after <span id="timeEl"></span> seconds</h3>

</div>

{{>footer}}