{{>header}}

<div id="myProfile">

    <form action="#">
        <label for="username">Username:</label>
        <input type="text" id="username" name="name">
        <label for="userAge">Age:</label>
        <input type="number" id="userAge" name="age">
        <label for="userAddress">User address:</label>
        <input type="text" name="address" id="userAddress">
        <label for="userImage">Profile picture url:</label>
        <input type="text" id="profileImage" name="userImage">
        <button id="profileSubmitBtn">Change info</button>
    </form>

    <div id="alertDiv">You have to fill all inputs!</div>

    <table id="coockedRecepiesTable">
        <tr>
            <th>Recepie</th>
            <th>Times coocked</th>
        </tr>
    </table>

</div>


{{>footer}}