{{>header}}

<div id="register">
    <form action="#" class="loginRegform ">

        <label for="registerUsername">Username:</label>
        <input id="registerUsername" type="text" placeholder="username">

        <label for="regPassword1">Password:</label>
        <input id="regPassword1" type="password" placeholder="password">

        <label for="regPassword2">Repeat password:</label>
        <input id="regPassword2" type="password" placeholder="confirmPassword">

        <p id="regError" class="error"></p>

        <input id="registerBtn" type="button" value="Register">
        <a class="goTo" href="#login">You have an account? Go to login page.</a>
    </form>
</div>


{{>footer}}